@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #ffffff;
  --primary-light: #1c4eff;
  --foreground-light: black;

  --background-dark: black;
  --primary-dark: #1c4eff;
  --foreground-dark: #ffffff;
}

.no-doc-scroll {
  overflow: hidden;
  touch-action: none; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-dark);
    --foreground: var(--foreground-dark);
  }
}

body.light-mode {
  --background: var(--background-light);
  --primary: var(--primary-light);
  --foreground: var(--foreground-light);
}

body.dark-mode {
  --background: var(--background-dark);
  --primary: var(--primary-dark);
  --foreground: var(--foreground-dark);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
}

@layer components {
  .card {
    background-color: var(--background-light);
    color: var(--foreground-light);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  
  .card.dark {
    background-color: var(--background-dark);
    color: var(--foreground-dark);
    border: 1px solid #444;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
